.flex-container{
    width: 150;
    text-align: center;
    height: 220px;
    align-items: center;
    background-color: rgb(190, 191, 192);
    border-radius: 12%;
    margin-left: 220px;
    margin-right: 173px;
    margin-top: 200px;
    position: absolute;
}
.flex-container>div{
background-color: rgb(93, 95, 97);
width: 200px;
line-height: 200px;
margin-left: 0.75px;

border-radius: 12%;
}
.flex-container img{
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
left: 75px;
}
.space{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    font-size: 11px;
}
.forgotpasword{
    position: absolute;
    top: 1px;
    left: 128px;
    text-decoration: none;
    color: black;
}
.emailarea{
    top:70px ;
    position: absolute;
    left: 17px;
}
#passwordarea{
    position: absolute;
right: 17px;
top: 110px;
}
.flex-container>div emailarea{
    background-color: black;
}
